<div class="main-div">
    <div class="first-div">

        <form [formGroup]="loginForm" (submit)="onSubmit()">
            <h1>Welcome Back</h1>
            <p id="descr">Enter your email and password to sign in</p>
            <label>Email</label>
            <div class="spacer"></div>
            <div class="input-margin">
                <div><input type="email" id="label-style" formControlName="email" required></div>
                <mat-hint *ngIf="loginForm.controls.email.touched && !loginForm.controls.email.valid">
                    Please insert valid email
                </mat-hint>
            </div>
            <div class="spacer"></div>
            <label>Password</label>
            <div class="spacer"></div>
            <div class="input-margin">
                <div><input id="label-style" autocomplete="off" matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" required></div>
                <mat-icon class="password-icon" (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
                <mat-hint *ngIf="loginForm.controls.password.touched && !loginForm.controls.password.valid">
                    Please insert valid password
                </mat-hint>
            </div>
            <div class="under-btn">
                <button class="login-btn" type="submit" color="accent" [disabled]="!loginForm.valid">Login</button>
                <br>
                <p id="descr">Don't have an account? </p>
                <a class="sign-up" routerLink="../register">Sign up</a>
            </div>
        </form>
    </div>
    <div class="second-div ">
        <img src="../assets/five.png " alt="">
    </div>
</div>