#label-style {
    border-radius: 25px;
    border: 2px solid red;
    width: 100%;
    height: 30px;
    padding: 5px 15px;
}

h1 {
    color: red;
}

.spacer {
    height: 10px;
}

.shift-right {
    text-align: end;
}

.input-margin {
    margin-left: 7px;
}

.login-btn {
    width: 70%;
    height: 40px;
    background-color: red;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: medium;
    cursor: pointer;
    margin: 10% 0%;
}

.login-btn:hover {
    background-color: #FAFAFA;
    color: red;
    font-size: large;
    border: 2px solid red;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

#descr {
    color: #808080;
    margin-bottom: 10%;
}

.first-div {
    width: 420px;
    padding: 100px 75px 0px 250px;
}

.forgot-password {
    color: #808080;
    text-decoration: none;
}

.forgot-password:hover {
    color: #808080;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.under-btn p {
    display: inline;
}

.under-btn {
    text-align: center;
}

.sign-up {
    color: red;
    text-decoration: none;
}

.sign-up:hover {
    color: red;
    text-decoration: underline red;
    transition: all 0.3s ease-in-out;
    ;
}

.main-div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto
}

.input-margin div,
.input-margin #label-style {
    display: -webkit-inline-box;
    width: 375px;
}

.password-icon {
    vertical-align: middle;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.main-div {
    overflow: hidden;
}